body {
  margin: 0;
  font-family: 'Avenir Next';
  background: #f4f4f4; }

ul {
  font-size: 0.875rem;
  color: black;
  font-weight: 400; }

p + ul {
  margin-top: -5px; }

h5 {
  color: black;
  margin-left: 20px;
  margin-top: 18px;
  float: left; }

svg {
  margin-right: 12px;
  margin-top: 12px;
  float: right; }
  svg:hover {
    cursor: pointer; }

.informPopoverTop {
  padding-bottom: 20px;
  width: 350px;
  top: -20px;
  background: #ffffff;
  position: absolute;
  left: calc(20% - 175px);
  margin-top: 100px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  max-height: 300px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0, 0, 0.2, 1); }
  .informPopoverTop:after {
    content: "";
    top: 100%;
    left: 50%;
    border: solid #CCCCCC;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: white;
    border-width: 16px;
    margin-left: -16px; }
  .informPopoverTop.visible {
    top: 0;
    visibility: visible;
    opacity: 100;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1); }
  .informPopoverTop.end {
    top: 0; }
  .informPopoverTop .informText {
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: black;
    display: inline-block;
    font-weight: 400; }

.openInformTop {
  border-radius: none;
  background: white;
  position: absolute;
  left: calc(20% - 9px);
  top: 300px; }
  .openInformTop:hover {
    cursor: pointer; }

.informPopoverBottom {
  padding-bottom: 20px;
  width: 350px;
  top: -20px;
  background: #ffffff;
  position: absolute;
  left: calc(40% - 175px);
  margin-top: 100px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  max-height: 300px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0, 0, 0.2, 1); }
  .informPopoverBottom:after {
    content: "";
    bottom: 100%;
    left: 50%;
    border: solid #CCCCCC;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 16px;
    margin-left: -16px; }
  .informPopoverBottom.visible {
    top: 0;
    visibility: visible;
    opacity: 100;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1); }
  .informPopoverBottom.end {
    top: 0; }
  .informPopoverBottom .informText {
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: black;
    display: inline-block;
    font-weight: 400; }

.openInformBottom {
  background: white;
  position: absolute;
  left: calc(40% - 9px);
  top: 300px; }
  .openInformBottom:hover {
    cursor: pointer; }

.informPopoverRight {
  padding-bottom: 20px;
  width: 350px;
  top: -20px;
  background: #ffffff;
  position: absolute;
  left: calc(60% - 175px);
  margin-top: 100px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  max-height: 300px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0, 0, 0.2, 1); }
  .informPopoverRight:after {
    content: "";
    right: 100%;
    top: 37%;
    border: solid #CCCCCC;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: white;
    border-width: 16px;
    margin-left: -16px; }
  .informPopoverRight.visible {
    top: 0;
    visibility: visible;
    opacity: 100;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1); }
  .informPopoverRight.end {
    top: 0; }
  .informPopoverRight .informText {
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: black;
    display: inline-block;
    font-weight: 400; }

.openInformRight {
  background: white;
  position: absolute;
  left: calc(60% - 9px);
  top: 300px; }
  .openInformRight:hover {
    cursor: pointer; }

.informPopoverLeft {
  padding-bottom: 20px;
  width: 350px;
  top: -20px;
  background: #ffffff;
  position: absolute;
  left: calc(80% - 175px);
  margin-top: 100px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  max-height: 300px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0, 0, 0.2, 1); }
  .informPopoverLeft:after {
    content: "";
    left: 100%;
    top: 37%;
    border: solid #CCCCCC 1px;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: white;
    border-width: 16px;
    margin-right: 16px; }
  .informPopoverLeft.visible {
    top: 0;
    visibility: visible;
    opacity: 100;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1); }
  .informPopoverLeft.end {
    top: 0; }
  .informPopoverLeft .informText {
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: black;
    display: inline-block;
    font-weight: 400; }

.openInformLeft {
  background: white;
  position: absolute;
  left: calc(80% - 9px);
  top: 300px; }
  .openInformLeft:hover {
    cursor: pointer; }

.nfPopoverTop {
  margin-top: 100px;
  top: calc(100vh - 260px);
  width: 230px;
  background: #4c4c4c;
  border: solid #CCCCCC 1px;
  position: absolute;
  left: calc(20% - 115px);
  box-shadow: none;
  max-height: 200px;
  visibility: visible;
  opacity: 100;
  animation: nfPopoverTop 2s ease; }
@keyframes nfPopoverTop {
  0%,
    100%,
    20%,
    50%,
    80% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
  .nfPopoverTop.hidden {
    visibility: hidden;
    transition: all 0.4s ease;
    opacity: 0; }
  .nfPopoverTop:after {
    content: "";
    top: 100%;
    left: 37%;
    border: solid #CCCCCC 1px;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #4c4c4c;
    border-width: 16px;
    margin-left: 16px; }
  .nfPopoverTop .nfText {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: white;
    display: inline-block;
    font-weight: 400; }
  .nfPopoverTop footer {
    overflow: hidden;
    margin-right: 20px; }
    .nfPopoverTop footer .gotitTop {
      background: #005e95;
      border: solid #005e95 1px;
      border-radius: unset;
      color: white;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 20px; }
      .nfPopoverTop footer .gotitTop:hover {
        cursor: pointer;
        background: #0079c1; }
      .nfPopoverTop footer .gotitTop:focus {
        outline: 0; }

.nfPopoverBottom {
  margin-top: 100px;
  top: calc(100vh - 260px);
  width: 230px;
  background: #4c4c4c;
  border: solid #CCCCCC 1px;
  position: absolute;
  left: calc(40% - 115px);
  box-shadow: none;
  max-height: 200px;
  visibility: visible;
  opacity: 100;
  animation: nfPopoverBottom 2s ease; }
@keyframes nfPopoverBottom {
  0%,
    100%,
    20%,
    50%,
    80% {
    transform: translateY(0); }
  40% {
    transform: translateY(30px); }
  60% {
    transform: translateY(15px); } }
  .nfPopoverBottom.hidden {
    visibility: hidden;
    transition: all 0.4s ease;
    opacity: 0; }
  .nfPopoverBottom:after {
    content: "";
    bottom: 100%;
    left: 37%;
    border: solid #CCCCCC 1px;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #4c4c4c;
    border-width: 16px;
    margin-left: 16px; }
  .nfPopoverBottom .nfText {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: white;
    display: inline-block;
    font-weight: 400; }
  .nfPopoverBottom footer {
    overflow: hidden;
    margin-right: 20px; }
    .nfPopoverBottom footer .gotitBottom {
      background: #005e95;
      border: solid #005e95 1px;
      border-radius: unset;
      color: white;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 20px; }
      .nfPopoverBottom footer .gotitBottom:hover {
        cursor: pointer;
        background: #0079c1; }
      .nfPopoverBottom footer .gotitBottom:focus {
        outline: 0; }

.nfPopoverRight {
  margin-top: 100px;
  top: calc(100vh - 260px);
  width: 230px;
  background: #4c4c4c;
  border: solid #CCCCCC 1px;
  position: absolute;
  left: calc(60% - 115px);
  box-shadow: none;
  max-height: 200px;
  visibility: visible;
  opacity: 100;
  animation: nfPopoverRight 2s ease; }
@keyframes nfPopoverRight {
  0%,
    100%,
    20%,
    50%,
    80% {
    transform: translateX(0); }
  40% {
    transform: translateX(30px); }
  60% {
    transform: translateX(15px); } }
  .nfPopoverRight.hidden {
    visibility: hidden;
    transition: all 0.4s ease;
    opacity: 0; }
  .nfPopoverRight:after {
    content: "";
    right: 100%;
    top: 37%;
    border: solid #CCCCCC 1px;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #4c4c4c;
    border-width: 16px;
    margin-left: 16px; }
  .nfPopoverRight .nfText {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: white;
    display: inline-block;
    font-weight: 400; }
  .nfPopoverRight footer {
    overflow: hidden;
    margin-right: 20px; }
    .nfPopoverRight footer .gotitRight {
      background: #005e95;
      border: solid #005e95 1px;
      border-radius: unset;
      color: white;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 20px; }
      .nfPopoverRight footer .gotitRight:hover {
        cursor: pointer;
        background: #0079c1; }
      .nfPopoverRight footer .gotitRight:focus {
        outline: 0; }

.nfPopoverLeft {
  margin-top: 100px;
  top: calc(100vh - 260px);
  width: 230px;
  background: #4c4c4c;
  border: solid #CCCCCC 1px;
  position: absolute;
  left: calc(80% - 115px);
  box-shadow: none;
  max-height: 200px;
  visibility: visible;
  opacity: 100;
  animation: nfPopoverLeft 2s ease; }
@keyframes nfPopoverLeft {
  0%,
    100%,
    20%,
    50%,
    80% {
    transform: translateX(0); }
  40% {
    transform: translateX(-30px); }
  60% {
    transform: translateX(-15px); } }
  .nfPopoverLeft.hidden {
    visibility: hidden;
    transition: all 0.4s ease;
    opacity: 0; }
  .nfPopoverLeft:after {
    content: "";
    left: 100%;
    top: 37%;
    border: solid #CCCCCC 1px;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #4c4c4c;
    border-width: 16px;
    margin-right: 16px; }
  .nfPopoverLeft .nfText {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    color: white;
    display: inline-block;
    font-weight: 400; }
  .nfPopoverLeft footer {
    overflow: hidden;
    margin-right: 20px; }
    .nfPopoverLeft footer .gotitLeft {
      background: #005e95;
      border: solid #005e95 1px;
      border-radius: unset;
      color: white;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 20px; }
      .nfPopoverLeft footer .gotitLeft:hover {
        cursor: pointer;
        background: #0079c1; }
      .nfPopoverLeft footer .gotitLeft:focus {
        outline: 0; }

/*# sourceMappingURL=aoPopover.css.map */
